breathe>=4.11.1
hawkmoth>=0.11.0
mkdocs>=1.4.1
myst_parser>=0.18.1
myst-parser==1.0.0
restructuredtext-lint>=1.1.3
sphinx_design==0.3.0
sphinx-intl>=0.9.11
sphinx-rtd-theme>=0.4.2
sphinx-typo3-theme>=4.7.9
Sphinx>=1.8.1
